<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery.terminal@2.18.0/js/jquery.terminal.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.4.2/sha.js"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery.terminal@2.18.0/css/jquery.terminal.min.css">
        <link rel="icon" type="image/png" href="static/SCP Foundation Emblem.png">

        <title>SCiPNET Direct Access Terminal</title>
        <style>
            .terminal {
                --color: white;
                --background: black;
                --animation: terminal-bar;
                --size: 1.4;
            }
        </style>
        <link rel="stylesheet" href="static/colors.css">
    </head>
    <body>
        <script src="static/script.js"></script>
    </body>
</html>